_flows/fetch-vault-secret.yml
id: fetch-vault-secret
namespace: sandbox-datalake

tasks:
  - id: get-jwt
    type: io.kestra.plugin.core.http.Request
    method: POST
    uri: https://auth.hashicorp.com/oauth/token
    contentType: application/json
    body: |
      {
        "audience": "https://vault.hashicorp.com",
        "grant_type": "client_credentials",
        "client_id": "SHM9blmHfdugEkUh8o3vrTZRfPh4SWah",
        "client_secret": "{{ secret('VAULT_CLIENT_SECRET') }}"
      }

  # - id: get-vault-token
  #   type: io.kestra.plugin.core.http.Request
  #   method: POST
  #   uri: https://sandbox-datalake-org.vault.hashicorp.cloud/v1/auth/jwt/login
  #   contentType: application/json
  #   body: |
  #     {
  #       "jwt": "{{ outputs.get-jwt.body.access_token }}",
  #       "role": "my-client-role"  # Remplace par le nom réel de ton rôle Vault
  #     }

  # - id: get-secret
  #   type: io.kestra.plugin.core.http.Request
  #   method: GET
  #   uri: https://<ton-org>.vault.hashicorp.cloud/v1/kv/data/my-secret
  #   headers:
  #     X-Vault-Token: "{{ outputs.get-vault-token.body.auth.client_token }}"