_flows/ingest_showdowndav_api.yml
id: ingest_showdowndav_api
namespace: pokemon
labels:
    level: mainflow
    project: showdowndav_kpi
    source: showdowndav_api
    destination: datalake_bronze

inputs:
  - id: s3_path
    type: STRING
    required: true
    defaults: pokemon/showdown

  - id: release_version
    type: STRING
    description: "Should increment the latest available-on-datalake data version, depending on the chosen source."
    required: true
    
  - id: source
    type: ENUM
    description: "Whether to ingest 'davidson' fork project or 'smogon' official Pokemon Showdown data."
    required: true
    defaults: dav
    values:
      - dav
      - smogon

tasks:
  - id: download_ingest_conf_file
    type: io.kestra.plugin.aws.s3.Download
    accessKeyId: "SCWB3XMCCXHTNQC5KQQH"
    secretKeyId: "{{ secret('SCALEWAY_SECRET_KEY_ID') }}"
    bucket: "sandbox-datalake-ingest"
    key: "pokemon/showdown/api_objects.json"
    endpointOverride: "https://s3.fr-par.scw.cloud"
    region: "fr-par"

  - id: for_each_object
    type: io.kestra.plugin.core.flow.ForEach
    concurrencyLimit: 1
    values: "{{ read(outputs.download_ingest_conf_file.uri) }}"
    tasks: 
      - id: get_api_object__put_bronze_bucket
        type: io.kestra.plugin.core.flow.Subflow
        namespace: pokemon
        flowId: get_showdowndav_api__put_bronze_bucket
        inputs:
          s3_path: "{{ inputs.s3_path }}"
          object_type: "{{ json(taskrun.value).api_object }}"
          datalake_object: "{{ json(taskrun.value).datalake_object }}"
          release_version: "{{ inputs.release_version }}"
          source: "{{ inputs.source }}"