_flows/MAIN-copy-gold-to-postgres.yml
id: MAIN-copy-gold-to-postgres
namespace: sandbox-datalake

tasks:
  - id: download_from_s3
    type: io.kestra.plugin.aws.s3.Downloads
    action: NONE
    bucket: "sandbox-datalake-gold"
    endpointOverride: "https://s3.fr-par.scw.cloud"
    region: fr-par
    accessKeyId: "SCWB3XMCCXHTNQC5KQQH"
    secretKeyId: "764e1512-586c-4cbd-ad83-8251a0d27b7c"
    prefix: "pokemon"
      
  - id: foreach_parquet_file
    type: io.kestra.plugin.core.flow.EachSequential
    value: "{{ outputs.download_from_s3.objects }}"
    tasks:
      - id: parquet_to_postgres
        type: io.kestra.plugin.core.flow.Subflow
        namespace: sandbox-datalake
        flowId: parquet_to_postgres
        wait: true
        transmitFailed: true
        inputs:
          parquet_uri: "{{ json(taskrun.value).uri }}"
          parquet_key: "{{ json(taskrun.value).key }}"
          postgre_schema: "sandbox_datalake_pokemon_showdown"

  # - id: log
  #   type: io.kestra.plugin.core.log.Log
  #   message: "{{ outputs.download_from_s3.objects }}"