_flows/pokemon/get_showdowndav_api__put_bronze_bucket.yml
id: get_showdowndav_api__put_bronze_bucket
namespace: pokemon
labels:
    level: subflow
    project: showdown_kpi
    source: showdown_api
    destination: datalake_bronze

inputs:
  - id: object_type
    type: STRING
  - id: datalake_object
    type: STRING
  - id: s3_path
    type: STRING
  - id: release_version
    type: STRING
  - id: source
    type: STRING

tasks:
  - id: download_from_web_api
    type: io.kestra.plugin.core.http.Download
    method: GET
    uri: "http://51.68.229.67:8001/{{ inputs.source }}/{{ inputs.object_type }}"
    sslOptions:
      insecureTrustAllCertificates: true

  - id: upload_on_bronze_s3_bucket
    type: io.kestra.plugin.aws.s3.Upload
    from: "{{ outputs.download_from_web_api.uri }}"
    accessKeyId: "SCWB3XMCCXHTNQC5KQQH"
    secretKeyId: "{{ secret('SCALEWAY_SECRET_KEY_ID') }}"
    bucket: "sandbox-datalake-bronze"
    key: "{{ inputs.s3_path }}/{{ inputs.source }}/{{ inputs.release_version }}/{{ inputs.datalake_object }}.json"
    endpointOverride: "https://s3.fr-par.scw.cloud"
    region: "fr-par"
          